@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.picture-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    flex-direction: column;
    gap: 30px;
}
.hall_image img {
    width: 100%;
    height: 200px;
}
.hall_video video {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.container {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}
.section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.hall_image,
.hall_video {
    width: 100%;
}
.video_section,
.calerdar {
    display: flex;
    justify-content: center;
}
.calerdar {
    margin-top: 20px;
}
.video_section video {
    width: 100%;
}

/* */
html, body {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container, section, video, img, iframe {
  max-width: 100%;
}

iframe {
  display: block;
}
.picture-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  flex-direction: column;
  gap: 30px;
}
.picture-container {
  flex-wrap: wrap;
}
img, video {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container, section, video, img, iframe {
  max-width: 100%;
}

iframe {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}
.flower_section {
    margin: 50px 20px;
}
.flower_section img {
    width: 100%;
    height: 560px;
    object-fit: cover;
}
.invite_heading h3 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 24px;
}
.invite_heading p {
    text-align: center;
    line-height: 20px;
}
.invite_heading {
    margin: 20px;
}
p {
    font-family: "Roboto", sans-serif;
}
.heart-txt img {
    width: 65px;
}
.heart-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heart-txt p {
    text-align: center;
    line-height: 20px;
    margin: 20px;
}
.invite_txt {
    margin: 40px 20px;
}
.bg-image {
    background-image: url(./myimage.jpg);
    background-size: cover;
    width: 100%;
    height: 72vh;
    margin-top: 25px;
}
.bg-image {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.flower_section {
    display: none;
}
.bg-image h2 {
 margin-top: 120px;
}